# Secrets
{{ if not .headless }}
# spotifatius
export RSPOTIFY_CLIENT_ID="{{ onepasswordRead "op://Personal/www.spotify.com/spotifycl client id" .onepassword.account }}"
export RSPOTIFY_CLIENT_SECRET="{{ onepasswordRead "op://Personal/www.spotify.com/spotifycl client secret" .onepassword.account }}"

# spotifycl
export SPOTIPY_CLIENT_ID="{{ onepasswordRead "op://Personal/www.spotify.com/spotifycl client id" .onepassword.account }}"
export SPOTIPY_CLIENT_SECRET="{{ onepasswordRead "op://Personal/www.spotify.com/spotifycl client secret" .onepassword.account }}"
export SPOTIPY_REDIRECT_URI="http://localhost"
{{ end }}
