
export CHEZMOI_DATA_ENVIRONMENT="{{ .environment }}"
export CHEZMOI_DATA_MONITORS_SELECTED="{{ .monitors.selected }}"
export MONITOR_LEFT="{{ index .monitors .monitors.selected "left" "name" }}"
export MONITOR_CENTER="{{ index .monitors .monitors.selected "center" "name" }}"
export MONITOR_RIGHT="{{ index .monitors .monitors.selected "right" "name" }}"
export MONITOR_LAPTOP="{{ index .monitors .monitors.selected "laptop" "name" }}"
