
export CHEZMOI_DATA_ENVIRONMENT="{{ .environment }}"
export CHEZMOI_DATA_MONITORS_SELECTED="{{ .monitors.selected }}"
export CHEZMOI_DATA_HEADLESS="{{ .headless }}"
export BACKUP_ENABLED="{{ .backup.enabled }}"
export BORG_HOST="{{ .backup.host }}"
export BORG_PORT="{{ .backup.port }}"
export BORG_HOST_ALIAS="{{ .backup.host_alias }}"
export BORG_REPO_NAME="{{ .backup.repo_name }}"
export BORG_ON_CALENDAR="{{ .backup.on_calendar }}"
export BORG_STALE_HOURS="{{ .backup.stale_hours }}"
{{- if .backup.enabled }}
export BORG_REPO="ssh://borg@{{ .backup.host_alias }}/./backups/{{ .backup.repo_name }}"
{{- else }}
export BORG_REPO=""
{{- end }}
