# Secrets
{{ if not .headless }}
# borg backup
export BORG_PASSPHRASE="{{ onepasswordRead "op://Personal/server-of-requirement/borg backup passphrase" }}"

# spotifatius
export RSPOTIFY_CLIENT_ID="{{ onepasswordRead "op://Personal/www.spotify.com/spotifycl client id" }}"
export RSPOTIFY_CLIENT_SECRET="{{ onepasswordRead "op://Personal/www.spotify.com/spotifycl client secret" }}"

# spotifycl
export SPOTIPY_CLIENT_ID="{{ onepasswordRead "op://Personal/www.spotify.com/spotifycl client id" }}"
export SPOTIPY_CLIENT_SECRET="{{ onepasswordRead "op://Personal/www.spotify.com/spotifycl client secret" }}"
export SPOTIPY_REDIRECT_URI="http://localhost"
{{ end }}
