{{- $location := .monitors.selected -}}
{{- $monitors := index .monitors $location -}}
{{- $profiles := index $monitors "profile_settings" -}}
{{- define "shikane_search" -}}[{{- range $index, $term := index . "shikane_search" -}}{{- if gt $index 0 }}, {{ end -}}"{{ $term }}"{{- end -}}]{{- end -}}
{{- define "shikane_transform" -}}{{- $transform := printf "%v" (index . "transform") -}}{{- if eq $transform "1" -}}90{{- else if eq $transform "2" -}}180{{- else if eq $transform "3" -}}270{{- else -}}normal{{- end -}}{{- end -}}
{{- define "shikane_output" }}
[[profile.output]]
search = {{ template "shikane_search" .monitor }}
enable = {{ if .enabled }}true{{ else }}false{{ end }}
{{- if .enabled }}
mode = "{{ index .monitor "mode" }}"
position = "{{ index .monitor "position" | replace "x" "," }}"
scale = {{ index .monitor "scale" }}
{{- if and (hasKey .monitor "transform") (ne (printf "%v" (index .monitor "transform")) "0") }}
transform = "{{ template "shikane_transform" .monitor }}"
{{- end }}
{{- end }}

{{ end -}}
{{- range $profileId, $_ := $profiles }}
[[profile]]
name = "{{ $profileId }}"

{{- range $monitorId, $monitor := $monitors }}
{{- if not (kindIs "map" $monitor) -}}
    {{ continue }}
{{- end -}}
{{- if not (hasKey $monitor "shikane_search") -}}
    {{ continue }}
{{- end -}}
{{ template "shikane_output" dict "monitor" $monitor "enabled" (has $profileId (index $monitor "profiles" | default (list))) }}
{{- end }}
{{ end -}}
