[data]
{{- $environment := promptStringOnce . "environment" "Whose machine is this? [work/personal]" "personal" }}
environment = "{{ $environment }}"
{{- $gpu := promptStringOnce . "gpu" "What GPU are you using? [amd/nvidia/other]" "other" }}
gpu = "{{ $gpu }}"
{{- $headless := promptBoolOnce . "headless" "Is this a headless machine? [y/n]" false }}
headless = {{ $headless }}

relative_xdg_data_home = ".local/share"
relative_xdg_config_home = ".config"
relative_xdg_state_home = ".local/state"
relative_xdg_cache_home = ".cache"

[data.monitors]
{{- $location := promptStringOnce . "monitors.selected" "Where are you located? [home/work]" "home" }}
selected = "{{ $location }}"

[edit]
command = "code"
args = ["--wait"]

[git]
autoCommit = true
autoPush = true

[diff]
command = "difft"
args = ["--color", "always", "--skip-unchanged"]
pager = "less -RF"
exclude = ["scripts"]
reverse = false
