#!/usr/bin/env zsh

{{ if .headless }}
# We're headless.
exit 0
{{ end }}

set -o errexit -o nounset -o pipefail

if [[ ! -f ~/.config/hypr/hyprland-shell.desktop ]]; then
    exit 0
fi

from=$(realpath ~/.config/hypr/hyprland-shell.desktop)
to_directory="/usr/share/wayland-sessions"
to="$to_directory/hyprland-shell.desktop"

[ ! -d "$to_directory" ] && exit 0

cmp --silent "$from" "$to" || (
    >&2 echo "$from changed, copying to $to..."
    sudo cp "$from" "$to"
)

hyprland_log="/var/log/hyprland.log"
if [ ! -f "$hyprland_log" ]; then
    user_group=$(id -gn "$USER")
    >&2 echo "$hyprland_log does not exist, creating it and setting ownership..."
    sudo touch "$hyprland_log" && sudo chown "$USER:$user_group" "$hyprland_log"
fi
