#!/usr/bin/env zsh

{{ if .headless }}
# We're headless.
exit 0
{{ end }}

set -o errexit -o nounset -o pipefail

to_directory="/usr/share/wayland-sessions"

[ ! -d "$to_directory" ] && exit 0

copy_desktop_entry() {
    local file_name="$1"
    local from="$HOME/.config/hypr/$file_name"
    local to="$to_directory/$file_name"

    if [[ ! -f "$from" ]]; then
        return
    fi

    cmp --silent "$from" "$to" || (
        >&2 echo "$from changed, copying to $to..."
        sudo cp "$from" "$to"
    )
}

copy_desktop_entry "hyprland-shell.desktop"
copy_desktop_entry "hyprland-uwsm.desktop"

hyprland_log="/var/log/hyprland.log"
if [ ! -f "$hyprland_log" ]; then
    user_group=$(id -gn "$USER")
    >&2 echo "$hyprland_log does not exist, creating it and setting ownership..."
    sudo touch "$hyprland_log" && sudo chown "$USER:$user_group" "$hyprland_log"
fi
