#!/usr/bin/env sh

{{ if .headless }}
# We're headless.
exit 0
{{ end }}

set -o errexit -o nounset

from="$HOME/.config/monitors.xml"
to="/var/lib/gdm/.config/monitors.xml"

function perform_copy() {
    to_dir=$(dirname $to)
    >&2 echo "Creating directory $to_dir..."
    sudo mkdir -p $to_dir
    >&2 echo "Changing folder permission $to_dir..."
    sudo chmod 755 $to_dir
    >&2 echo "Changing folder ownership $to_dir..."
    sudo chown $(id -u gdm):$(id -g gdm) $to_dir

    >&2 echo "Copying $from to $to..."
    sudo cp $from $to
    >&2 echo "Setting ownership to gdm..."
    sudo chown $(id -u gdm):$(id -g gdm) $to
    >&2 echo "Setting file permissions..."
    sudo chmod 644 $to
}

if [ ! -f "$from" ]; then
    >&2 echo "$from does not exist."
elif test ! -f "$to"; then
    >&2 echo "$to does not exist."
    perform_copy
elif ! cmp --silent $from $to; then
    >&2 echo "$from changed."
    perform_copy
else
    >&2 echo "$from == $to"
fi
