[Desktop Entry]
Name=Hyprland (UWSM)
Comment=An intelligent dynamic tiling Wayland compositor (UWSM)
Exec={{ .chezmoi.homeDir }}/.bin/hyprland-uwsm
TryExec=uwsm
DesktopNames=Hyprland
Type=Application
