general {
    lock_cmd = pidof lock || lock
    before_sleep_cmd = loginctl lock-session    # lock before suspend.
    after_sleep_cmd = hyprctl dispatch dpms on  # to avoid having to press a key twice to turn on the display.
}

listener {
    timeout = {{ index .monitors .monitors.selected "screen_timeout" }}
    on-timeout = hyprctl dispatch dpms off        # screen off when timeout has passed
    on-resume = hyprctl dispatch dpms on          # screen on when activity is detected after timeout has fired.
}

listener {
    timeout = {{ index .monitors .monitors.selected "lock_timeout" }}
    on-timeout = loginctl lock-session            # lock screen when timeout has passed
}
