$mainMod = SUPER

# Setup
source=~/.config/hypr/env.conf
source=~/.config/hypr/styling.conf

{{ if eq .gpu "nvidia" -}}
source=~/.config/hypr/nvidia.conf
{{- end }}

# Any monitor/workspace assignment
source=~/.config/hypr/monitors.conf
source=~/.config/hypr/input.conf
source=~/.config/hypr/windows.conf
source=~/.config/hypr/workspaces.conf
source=~/.config/hypr/layout.conf

# Starting anything.
source=~/.config/hypr/exec.conf

# Non-important later.
source=~/.config/hypr/keybindings/apps.conf
source=~/.config/hypr/keybindings/layout.conf
source=~/.config/hypr/keybindings/media.conf
source=~/.config/hypr/keybindings/resize.conf

