# See https://wiki.hyprland.org/Configuring/Monitors/
monitor=,preferred,auto,auto

monitor=desc:{{ .monitors.left.name }}, {{ .monitors.left.mode }}, {{ .monitors.left.position }}, {{ .monitors.left.scale }}, transform, 1
monitor=desc:{{ .monitors.center.name }}, {{ .monitors.center.mode }}, {{ .monitors.center.position }}, {{ .monitors.center.scale }}
monitor=desc:{{ .monitors.right.name }}, {{ .monitors.right.mode }}, {{ .monitors.right.position }}, {{ .monitors.right.scale }}, transform, 3

exec = swaybg --output "$MONITOR_LEFT" --image ~/.config/wallpapers/dark/1440x2560/jon-snow.jpg --mode fill
exec = swaybg --output "$MONITOR_CENTER" --image ~/.config/wallpapers/dark/2560x1440/jaime-lannister.jpg --mode fill
exec = swaybg --output "$MONITOR_RIGHT" --image ~/.config/wallpapers/dark/1440x2560/tyrion-lannister.jpg --mode fill

