# See https://wiki.hyprland.org/Configuring/Monitors/
monitor=,preferred,auto,1

monitor=desc:{{ index .monitors .monitors.selected "left" "name" }}, {{ index .monitors .monitors.selected "left" "mode" }}, {{ index .monitors .monitors.selected "left" "position" }}, {{ index .monitors .monitors.selected "left" "scale" }}, transform, 1
monitor=desc:{{ index .monitors .monitors.selected "center" "name" }}, {{ index .monitors .monitors.selected "center" "mode" }}, {{ index .monitors .monitors.selected "center" "position" }}, {{ index .monitors .monitors.selected "center" "scale" }}
monitor=desc:{{ index .monitors .monitors.selected "right" "name" }}, {{ index .monitors .monitors.selected "right" "mode" }}, {{ index .monitors .monitors.selected "right" "position" }}, {{ index .monitors .monitors.selected "right" "scale" }}, transform, 3

exec = swaybg --output "{{ index .monitors .monitors.selected "left" "name" }}" --image ~/.config/wallpapers/dark/1440x2560/jon-snow.jpg --mode fill
exec = swaybg --output "{{ index .monitors .monitors.selected "center" "name" }}" --image ~/.config/wallpapers/dark/2560x1440/jaime-lannister.jpg --mode fill
exec = swaybg --output "{{ index .monitors .monitors.selected "right" "name" }}" --image ~/.config/wallpapers/dark/1440x2560/tyrion-lannister.jpg --mode fill

