
# Disable kitty/terminal shadow.
windowrulev2 = noshadow, class:^(kitty)$

# 1Password Always Float
windowrulev2 = float, class:^(1password)$
windowrulev2 = stayfocused, title:^(Quick Access — 1Password)$
windowrulev2 = dimaround, title:^(Quick Access — 1Password)$

# Bolt Always Float
windowrulev2 = float, class:^(com.adamcake.Bolt)$

# RuneLite Launcher / HDOS Launcher
windowrulev2 = float, title:^(RuneLite\sLauncher)|(HDOS)$
windowrulev2 = center, title:^(RuneLite\sLauncher)|(HDOS)$
windowrulev2 = pin, title:^(RuneLite\sLauncher)|(HDOS)$
# Commented because silent is not supported
#windowrulev2 = monitor 1, title:^(RuneLite\sLauncher)|(HDOS)$
windowrulev2 = tile, class:^(hdos-Main)$

# RuneLite
#windowrulev2 = monitor 1, title:^(RuneLite)$

# 1Password menu windows
# All Zoom Windows to be floating except for the meeting one which has the title meeting.
windowrulev2 = float, class:^(Zoom.*)$
#windowrulev2 = stayfocused, title:^(menu window)$, class: ^(Zoom.*)$
windowrulev2 = move onscreen cursor -10 -10, class:^(Zoom.*)$
windowrulev2 = size 300 201, title:^(menu window)$, class:^(Zoom.*)$

windowrulev2 = float, class:^(Gtk_prompt\.py)$
windowrulev2 = float, class:^(updates)$

# Picture in Picture
windowrulev2 = float, title:^(Picture-in-Picture)$
windowrulev2 = keepaspectratio on, floating:1 && title:^(Picture-in-Picture)
windowrulev2 = size 800 450, floating:1 && title:^(Picture-in-Picture)
windowrulev2 = opacity 0.10 1.0, pinned:1

# Firefox Sharing
# for_window [title="Firefox — Sharing Indicator"] floating enable; move absolute position 0 0;

# Left
# Workspace 1
windowrulev2 = workspace 1 silent, class:^(thunderbird)$

# Workspace 2
windowrulev2 = workspace 2 silent, class:^(Spotify(\sPremium)?)$
# On Wayland Spotify opens without a class.
windowrulev2 = workspace 2 silent, initialTitle:^(Spotify(\sPremium)?)$

{{ if eq .environment "home" }}
# Workspace 3
windowrulev2 = workspace 3 silent, class:^([dD]iscord)$
windowrulev2 = workspace 3 silent, class:^(com\.discordapp\.Discord)$
windowrulev2 = workspace 3 silent, title:^(Signal.*)$
windowrulev2 = workspace 3 silent, title:^(WhatsApp.*)$

# Workspace 4
windowrulev2 = workspace 4 silent, class:^(Hexchat)$
windowrulev2 = workspace 4 silent, class:^(Zulip)$
windowrulev2 = workspace 4 silent, title:^(Tuba)$
windowrulev2 = workspace 4 silent, class:^(Slack)$
{{ else }}
# Workspace 3
windowrulev2 = workspace 3 silent, class:^(Mattermost)$
windowrulev2 = workspace 3 silent, initialTitle:^(Workchat)$
windowrulev2 = workspace 3 silent, initialTitle:^(Google Chat)$

# Workspace 4
windowrulev2 = workspace 4 silent, class:^([dD]iscord)$
windowrulev2 = workspace 4 silent, class:^(com\.discordapp\.Discord)$
windowrulev2 = workspace 4 silent, title:^(Signal.*)$
windowrulev2 = workspace 4 silent, title:^(WhatsApp.*)$

windowrulev2 = workspace 5 silent, class:^(Hexchat)$
windowrulev2 = workspace 5 silent, class:^(Zulip)$
windowrulev2 = workspace 5 silent, title:^(Tuba)$
windowrulev2 = workspace 5 silent, class:^(Slack)$
{{ end }}

# Center
windowrulev2 = workspace 101, class:^code(.*)?(-url-handler)?$

# Right
