
# Disable kitty/terminal shadow.
windowrule = noshadow,^(kitty)$

# 1Password Always Float
windowrule=float,^(1Password)$
windowrule=stayfocused,title:^(Quick Access — 1Password)$
windowrule=dimaround,title:^(Quick Access — 1Password)$

# Picture in Picture Runelite plugin
windowrule=float,title:^(Picture in Picture)$

windowrule=float,^(Gtk_prompt\.py)$
windowrule=float,^(updates)$

# Firefox Sharing
# for_window [title="Firefox — Sharing Indicator"] floating enable; move absolute position 0 0;

# Left
# Workspace 1
windowrule=workspace 1 silent, ^(thunderbird)$

# Workspace 2
windowrule=workspace 2 silent, ^(Spotify(\sPremium)?)$
# On Wayland Spotify opens without a class.
windowrule=workspace 2 silent, title:^(Spotify(\sPremium)?)$

{{ if eq .environment "home" }}
# Workspace 3
windowrule=workspace 3 silent, ^([dD]iscord)$
windowrule=workspace 3 silent, ^(com\.discordapp\.Discord)$
windowrule=workspace 3 silent,title:^(Signal.*)$
windowrule=workspace 3 silent,title:^(WhatsApp.*)$

# Workspace 4
windowrule=workspace 4 silent,^(Hexchat)$
windowrule=workspace 4 silent, ^(Zulip)$
windowrule=workspace 4 silent, title:^(Tuba)$
windowrule=workspace 4 silent, ^(Slack)$
{{ else }}
# Workspace 3
windowrule=workspace 3 silent, ^(Mattermost)$
# This is WorkChat(.desktop), have been failing to override the class ID.
# Seems to be stable across machines however.
windowrule=workspace 3 silent, ^(chrome-hondjlkedhnofcgbhifciodpdjfnonjm-Default)$

# Workspace 4
windowrule=workspace 4 silent, ^([dD]iscord)$
windowrule=workspace 4 silent, ^(com\.discordapp\.Discord)$
windowrule=workspace 4 silent,title:^(Signal.*)$
windowrule=workspace 4 silent,title:^(WhatsApp.*)$

windowrule=workspace 5 silent,^(Hexchat)$
windowrule=workspace 5 silent, ^(Zulip)$
windowrule=workspace 5 silent, title:^(Tuba)$
windowrule=workspace 5 silent, ^(Slack)$
{{ end }}

# Unused
#windowrule=workspace 2 silent, ^(obsidian)$

# Center
# Monitor ID 1 is center
windowrule=monitor 1, ^code(.*)?-url-handler$

# Right
