{{- $selectedMonitors := index .monitors .monitors.selected -}}
{{- range $role := list "left" "center" "right" "laptop" -}}
  {{- if hasKey $selectedMonitors $role -}}
    {{- $monitor := index $selectedMonitors $role -}}
    {{- if and (kindIs "map" $monitor) (hasKey $monitor "workspaces") -}}
    {{- $setName := index $monitor "workspaces" -}}
    {{- range $index, $workspace := index $.workspaces $setName }}
hl.workspace_rule({ workspace = "{{ $workspace }}", monitor = {{ printf "desc:%s" (index $monitor "name") | quote }}{{ if eq $index 0 }}, default = true{{ end }} })
    {{- end }}
    {{- end -}}
  {{- end -}}
{{- end }}

local bind = require("bind")
local keys = { "1", "2", "3", "4", "5", "6", "7", "8", "9", "0", "Minus", "Equal" }

local function bindWorkspaceSet(modifiers, firstWorkspace)
    for index, key in ipairs(keys) do
        local workspace = firstWorkspace + index - 1
        bind.workspace(modifiers .. " + " .. key, workspace)
    end
    for index, key in ipairs(keys) do
        local workspace = firstWorkspace + index - 1
        bind.move_silent(modifiers .. " + SHIFT + " .. key, workspace)
    end
end

bindWorkspaceSet("SUPER + CTRL", 1)
bindWorkspaceSet("SUPER", 101)
bindWorkspaceSet("SUPER + ALT", 201)
{{- if hasKey (index .monitors .monitors.selected) "laptop" }}
bindWorkspaceSet("SUPER + MOD2", 301)
{{- end }}
