{{- $t := .themes.rubecula -}}
font_family MesloLGM Nerd Font Mono
font_size 11.50

cursor {{ $t.cursor }}
cursor_text_color {{ $t.cursor_text_color }}
cursor_shape beam

scrollback_lines 100000

url_style single
url_color {{ $t.url_color }}

tab_bar_style separator

selection_background {{ $t.selection_background }}

foreground {{ $t.foreground }}
background {{ $t.background }}

window_padding_width 4.0
background_opacity 0.8

# black dark/light
color0 {{ $t.color0 }}
color8 {{ $t.color8 }}
# red dark/light
color1 {{ $t.color1 }}
color9 {{ $t.color9 }}
# green dark/light
color2 {{ $t.color2 }}
color10 {{ $t.color10 }}
# yellow dark/light
color3 {{ $t.color3 }}
color11 {{ $t.color11 }}
# blue dark/light
color4 {{ $t.color4 }}
color12 {{ $t.color12 }}
# magenta dark/light
color5 {{ $t.color5 }}
color13 {{ $t.color13 }}
# cyan dark/light
color6 {{ $t.color6 }}
color14 {{ $t.color14 }}
# white dark/light
color7 {{ $t.color7 }}
color15 {{ $t.color15 }}

# MacOS
macos_thicken_font 0.50
listen_on unix:/tmp/kitty-{kitty_pid}

# Controls

kitty_mod ctrl+shift
map ctrl+shift+v paste_from_clipboard
map ctrl+shift+c copy_to_clipboard

# Keyboard shortcuts

map cmd+k combine : clear_terminal scrollback active : send_text normal,application \x0c
map ctrl+shift+l combine : clear_terminal scrollback active : send_text normal,application \x0c


clipboard_control write-clipboard write-primary no-append

# Other settings
strip_trailing_spaces smart

allow_remote_control yes
enable_audio_bell no
confirm_os_window_close 0
enabled_layouts all
