[Unit]
Description=Borg backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/
ExecStart={{ .chezmoi.homeDir }}/.bin/backup __service-run

[Install]
WantedBy=multi-user.target
