{{- $t := .themes.rubecula -}}
/* hyprwhspr mic-osd theme: {{ $t.name }} */
@define-color background-color {{ $t.background }}F2;
@define-color border-color {{ $t.color6 }};
@define-color bar-color-left {{ $t.color6 }};
@define-color bar-color-right {{ $t.color2 }};
@define-color recording-dot {{ $t.color1 }};
@define-color text-color {{ $t.foreground }};
@define-color paused-dot {{ $t.color3 }};
@define-color processing-dot {{ $t.color10 }};
@define-color error-dot {{ $t.color9 }};
@define-color success-dot {{ $t.color14 }};
