# DMS and shell surfaces.
layerrule=noanim:1,layer_name:^dms
windowrule=isfloating:1,appid:^org\.quickshell$

# Terminals.
windowrule=isnoborder:1,isterm:1,appid:^com\.mitchellh\.ghostty$
windowrule=isnoborder:1,isterm:1,appid:^kitty$
windowrule=isnoborder:1,isterm:1,appid:^Alacritty$

# Browsers and editors.
windowrule=tags:2,appid:^(firefox|zen|google-chrome|Google-chrome|chromium|Chromium|brave-browser|Brave-browser)$
windowrule=tags:3,appid:^code(.*)?(-url-handler)?$

# Chat and communication.
windowrule=tags:4,appid:^([dD]iscord|com\.discordapp\.Discord)$
windowrule=tags:4,title:^(Signal.*|WhatsApp.*|ZapZap)$
windowrule=tags:4,title:^Tuba$
{{ if eq .environment "work" -}}
windowrule=tags:4,appid:^(Mattermost|google-chat-linux|Google-chat-linux|googlechat)$
windowrule=tags:4,title:^(Workchat|Google Chat)$
windowrule=tags:4,appid:^(Hexchat|Zulip|Slack|com\.slack\.Slack)$
{{ else -}}
windowrule=tags:6,appid:^(Mattermost|google-chat-linux|Google-chat-linux|googlechat)$
windowrule=tags:6,title:^(Workchat|Google Chat)$
windowrule=tags:6,appid:^(Hexchat|Zulip|Slack|com\.slack\.Slack)$
{{ end -}}

# Media and games.
windowrule=tags:5,appid:^(Spotify(\sPremium)?)$
windowrule=tags:5,title:^(Spotify(\sPremium)?)$
windowrule=tags:7,force_tearing:1,title:^(Counter-Strike 2|gamescope|RuneLite|HDOS)$

# Utility floats.
windowrule=isfloating:1,appid:^(1password|com\.adamcake\.Bolt)$
windowrule=isfloating:1,isoverlay:1,title:^(Quick Access .+ 1Password|1Password)$
windowrule=isfloating:1,width:0.55,height:0.60,title:^(RuneLite\sLauncher|HDOS)$
windowrule=isfloating:1,appid:^Zoom.*$
windowrule=isfloating:1,width:300,height:201,appid:^Zoom.*$,title:^(menu window)$
windowrule=isfloating:1,appid:^(Gtk_prompt\.py|updates|gnome-calculator|blueman-manager|org\.gnome\.Nautilus)$

# Picture-in-picture.
windowrule=isfloating:1,isoverlay:1,width:800,height:450,title:^Picture-in-Picture$

# Scratchpad examples. Toggle with SUPER+Grave and SUPER+E.
windowrule=isnamedscratchpad:1,width:0.90,height:0.80,appid:^mango-scratch-terminal$
windowrule=isnamedscratchpad:1,width:0.80,height:0.75,appid:^mango-scratch-files$
