[center-trigger]
enter_command = ["ags", "request", "--instance", "dotfiles-bar", "show-center"]
locations = ["{{ if eq (index .monitors .monitors.selected "center" "bar_position" | default "bottom") "top" }}top{{ else }}bottom{{ end }}"]
size = 1
margin = 0
timeout_ms = 50
color = "#FF0000"

[center-trigger.output]
description = "{{ index .monitors .monitors.selected "center" "name" }}"

{{- if hasKey (index .monitors .monitors.selected) "laptop" }}
[laptop-trigger]
enter_command = ["ags", "request", "--instance", "dotfiles-bar", "show-center"]
locations = ["{{ if eq (index .monitors .monitors.selected "laptop" "bar_position" | default "top") "top" }}top{{ else }}bottom{{ end }}"]
size = 1
margin = 0
timeout_ms = 50
color = "#FF0000"

[laptop-trigger.output]
description = "{{ index .monitors .monitors.selected "laptop" "name" }}"
{{- end }}
